body{
    background-color: bisque;
} 
h1{
    background-color: antiquewhite;
    color: purple;
    font-size: 200%;
    text-align: center;
}
h2{
    border-style: dotted;
    border-width: 5px;
}

p:nth-child(even){
    display: inline-block;
    width: 100px;
    height: 35px;
    padding: 5px;
    border: 2px solid red
}

img{
    border-radius: 32px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}


